@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@500&display=swap');

body{
    background-color: #191919;
}

.icons img:hover{
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.active {
    color: white;
}
